@font-face {
  font-family: "iconfont"; /* Project id 3243489 */
  src: url('//at.alicdn.com/t/font_3243489_7vi8ma960yh.woff2?t=1650688126928') format('woff2'),
       url('//at.alicdn.com/t/font_3243489_7vi8ma960yh.woff?t=1650688126928') format('woff'),
       url('//at.alicdn.com/t/font_3243489_7vi8ma960yh.ttf?t=1650688126928') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-essential-information:before {
  content: "\e612";
}

.iconfont-daishiyong1:before {
  content: "\e611";
}

.iconfont-daiqueren:before {
  content: "\e6a5";
}

.iconfont-daifukuan:before {
  content: "\e614";
}

.iconfont-yiquxiao:before {
  content: "\e602";
}

.iconfont-daishiyong:before {
  content: "\e643";
}

.iconfont-zhifuchenggong:before {
  content: "\e663";
}

.iconfont-xiangxia:before {
  content: "\e601";
}

.iconfont-baoxiu:before {
  content: "\e64a";
}

.iconfont-jiaofei:before {
  content: "\e691";
}

.iconfont-shenfenma:before {
  content: "\e6d0";
}

.iconfont-hongbao:before {
  content: "\e784";
}

.iconfont-qiandao:before {
  content: "\e62c";
}

.iconfont-fangke:before {
  content: "\e620";
}

.iconfont-xinwen:before {
  content: "\e8a7";
}

.iconfont-jianyi:before {
  content: "\e67e";
}

.iconfont-tingchewei:before {
  content: "\e621";
}

.iconfont-tingchewei1:before {
  content: "\f712";
}

.iconfont-tousu:before {
  content: "\e6ad";
}

.iconfont-wuyefei:before {
  content: "\e646";
}

.iconfont-wode:before {
  content: "\e600";
}

.iconfont-shouye:before {
  content: "\e751";
}

.iconfont-fuli:before {
  content: "\e618";
}

.iconfont-wode_click-copy:before {
  content: "\e752";
}

.iconfont-shouye-copy:before {
  content: "\e753";
}

.iconfont-fuli-copy:before {
  content: "\e754";
}
